@model LH.App.ViewModels.FornecedorViewModel

@{
    ViewData["Title"] = "Detalhes do Fornecedor";
}

<h1>@ViewData["Title"]</h1>
<hr />

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Documento)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Documento)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TipoFornecedor)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TipoFornecedor)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Ativo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Ativo)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-warning" asp-action="Edit" asp-route-id="@Model.id"><spam class="fa fa-pencil-alt"></spam> Editar</a>
    <a class="btn btn-info" asp-action="Index"><span class="fa fa-arrow-left"></span> Voltar</a>
</div>
